<footer class="page-footer teal">
    <div class="container">
      <div class="row connect">
          <h5 class="white-text">Connect</h5>
            <p>Youth Summit Literature Ministry<br>
                3982 Memorial Dr. Decatur, GA 30032<br>
                Email: <a href="#">magabook@hhesbiblestory.com</a><br>
                Phone: (404) 299-1621<br>
            </p>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      &copy; 2000 - 2018 Youth Summit &nbsp;&nbsp;| &nbsp;&nbsp; Designed by <a class="brown-text text-lighten-3" href="http://materializecss.com">Web Point Media</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>
