<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="container">
            <h2>Georgia-Cumeberland Conference Programs</h2>
            <div class="card">
                <h5>Atlanta, GA</h5>
                <p>Program Start Date:</p>
                <p>Leader: <strong>Samuel Francis</strong></p>
                <p>Contact Number: <strong>123-456-7890</strong></p>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>