<% include partials/header %>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center text-lighten-2">Youth Summit</h1>
        <div class="row center">
          <h4 class="header col s12 light">Student Literature Ministry</h4>
        </div>
        <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="apply-button" class="btn-large waves-effect waves-light lighten-1">Apply Now</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/img/home-banner.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div id="welcome" class="container">
        <div class="section">
    
          <div class="row">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>Welcome</h4>
              <p class="left-align light">
                    Every year, hundreds of young people (ages 16-25) serve God as Magabook literature evangelists in the Carolina, Georgia-Cumberland, Gulf States or Kentucky Tennessee Conference of Seventh-day Adventists. If you are interested in serving God as a front-line missionary, want to learn how to share your faith through literature evangelism, and are seeking to grow in your friendship with God... you are at the right place! We are currently accepting applications! Learn about our upcoming programs or apply now.
                </p>
            </div>
          </div>
    
        </div>
      </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Your life will never be the same again!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/home_banner_2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
        <div class="section">
    
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Upcoming Programs</h5>
    
                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">Experiences from the Field</h5>
    
                <p class="light">Take a look at a few of the stories shared by student missionaries out in the field. Be inspired and pass them along!</p>
              </div>
            </div>
    
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>
    
                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
              </div>
            </div>
          </div>
    
        </div>
      </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Experience the joy and fulfillment of sharing your faith!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <% include partials/footer %>