<% include partials/header %>

<div class="container">
    <div class="row">
        <div class="input-container">
            <div class="white-section">
                <h3>Login</h3>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="password">
                    <button class="btn btn-primary btn-lg">Login</button>
                </form>
                Haven't created an account yet? <a href="/register">Sign Up Here!</a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>