/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* ======================  NAVIGATION ====================== */
nav ul a,
nav .brand-logo {
  color: #444;
}
.nav-wrapper {
  width: 85%;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: black;
  display: block;
  line-height: 36px;
  padding: 14px 5px;
}

.dropdown-content li > a:hover {
  border-left: 3px solid teal;
}

/* ======================  GLOBAL  ====================== */
p {
  line-height: 2rem;
}
.page-title {
  text-align: center;
  margin: 40px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #eee;
}

main {
  flex: 1 0 auto;
}

.white-section {
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

hr {
  width: 100%;
}

/* ======================  HOME  ====================== */
.button-collapse {
  color: #26a69a;
}
#index-banner {
  min-height: 580px;
}
.header {
  text-shadow: 0 4px 10px #000;
  font-weight: 900;
}
#apply-button {
  border-radius: 5px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    margin-top: 10%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.footer-copyright {
  text-align: center;
}
.connect h5, .connect p {
  text-align: center;
}

#welcome {
  padding: 50px 0;
}

#welcome p {
  font-size: 1.3rem;
  text-align: justify;
}

/* ======================  REGISTER / LOGIN  ====================== */

.input-container {
  max-width: 500px;
  margin: 150px auto;
}

select {
  display: block;
}

form {
  margin-bottom: 20px;
}

/* ======================  PROGRAMS  ====================== */

#gray {
  background-color: #eee;
  widows: 100%;
}

.card {
  padding: 10px;
}

.card h5 {
  color: teal;
  text-align: center;
}

.card ul:not(.browser-default) > li {
  list-style-type: circle;
  margin-left: 30px;
}

.card span {
  color: teal;
}

.card p {
  margin: 0;
}

/* ======================  ORDER FORM  ====================== */

#mgbk-order h5 {
  text-align: center;
  color: teal;
}

.input-group {
  display: flex;
}

#address-group {
  display: block;
}

.input-group label {
  color: black;
  font-size: 1.1em;
}

.input-group input {
  width: 100px;
  background-color: #eee;
  text-align: center;
}

.input-group p {
  color: teal;
  text-align: center;
}

.input-group span {
  font-weight: 900;
  font-size: 1.1em;
}

input[type=number]:not(.browser-default) {
  width: 100px;
  margin-left: 30px;
  background-color: #eee;
  color: black;
  font-weight: 700;
  text-align: center;
}

input[type=date]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=email]:not(.browser-default){
  color: slategray;
  background-color: #eee;
  text-align: left;
  padding-left: 10px;
}

input[type=text]:not(.browser-default){
  background-color: #eee;
  text-align: left;
  padding-left: 10px;
}


[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  opacity: 1;
  margin-right: 20px;
  pointer-events: all;
}

.hidden {
  display: none;
}

/* ======================  CREATE STORY POST  ====================== */

textarea {
  height: auto;
}

#new-story h3 {
  text-align: center;
  color: teal;
}

#new-story {
  background-color: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#new-story .card {
  margin: 0;
  padding: 30px;
}

#new-story input[type=text]:not(.browser-default) {
  width: 50%;
}

#image_uploads {
  margin: 20px;
}
#new-story label {
  color: teal;
  font-size: 1em;
}