<% include ../partials/header %>
<style>
    .contact-card {
        max-width: 500px;
        margin: 0 auto;
    }
    #main {
        background-color: #eee;
        height: 100%;
        width: 100%;
        padding: 50px;
    }

    input[type=text]:not(.browser-default), input[type=email]:not(.browser-default) {
        background-color: white;
    }
</style>
<main>
    <div id="main">
        <div class="row">
            <div class="card contact-card">
                <h2 class="center-align">Contact Us</h2>
                <div class="row">
                    <form class="col m10 offset-m1 s12" method="POST" action="/about/contact">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" name="name">
                                <label for="name">Name</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" type="email" name="email" class="form-input">
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s12">
                              <textarea id="message" name="message" class="materialize-textarea"></textarea>
                              <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col m12">
                             <p class="right-align"><button class="btn btn-large waves-effect waves-light" type="submit">Send Message</button></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../partials/footer %>