<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="container">
            <h4>Frequently Asked Questions</h4>
            <p>Have questions about the Youth Summit programs? Look here for answers! If you can't find the answer to your question, feel free to <a href="/contact">contact us</a>.</p>
            <h5>Time and Schedule</h5>
            <p><strong>Q: How long are the summer programs?</strong></p>
             <p>A: The programs last for 10 weeks, typically starting the end of May and ending the beginning of August.</p>
            <p><strong>Q: Will we take time off?</strong></p>

           <p> A: Yes. Near the middle of the summer the Youth Summit programs get together for a weekend retreat. At the end of the summer we have another weekend retreat to close out our time together. To find out more about this summer's retreats please <a href="/contact">contact us</a>.</p>

            <p><strong>Q: Do we have any days off during the week?</strong></p>

            <p>A: Friday is not a work day and of course Sabbath is set aside to worship and fellowship.</p>
        </div>
    </div>
</div>

<% include ../partials/footer %>