<% include ../partials/header %>
    <main>
            <div class="container">
                <div class="row">
                    <div class="container white-section">
                        <div>
                            <img src="../../img/team.jpg" alt="">
                        </div>
                        <div>
                            <h4>About Youth Summit</h4>
                            <p>The Youth Summit Program is part of the Home Health Education Service and coordinates the Youth Publishing Ministry.</p>
                            <p>The Youth Summit Magabook Program offers university and academy-age students the opportunity to participate in literature evangelism while also earning tuition money. This involves is sharing the Good News of God’s salvation through literature distribution on a donation basis. We witness by personally visiting people in diverse communities and sharing Christ-focused books with them that will nurture and challenge them physically, mentally, and spiritually. Meeting people at their homes and workplaces gives us incredible opportunities to touch lives.</p>    
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
<% include ../partials/footer %>