<% include ../partials/header %>
<div id="gray">
        <div class="container">
            <div class="section">
                <h4 class="page-title">Upcoming Program Locations and Dates by Conference</h4>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m6">
                        <div class="card">
                            <img src="" alt="">
                            <h5>Georgia-Cumberland Conference</h5>
                            <p>Program Dates: <span>May 28 - August 5</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<% include ../partials/footer %>